/*background setup*/
body {
    background-image: url(../Images/mathew-schwartz-iGheu30xAi8-unsplash.jpg) ;
    background-repeat: no-repeat;
    opacity: 1;
    color: whitesmoke;
    background-size: cover;
    position: relative;
   }
    /*hero box setup*/
   .Header{
    background-color: rgba(0, 0, 0, 0.505);
    backdrop-filter: 50px;
    opacity: 1;
    border: 10px;
    padding: 1%;
    border-radius: 10%;
    border-color: yellowgreen;
    text-align: center;
   }
   .item-1 img{
    position: relative;
    align-content: center;
    clip-path: circle();
   }
   .item-2{
    position: fixed;
   }
   /*Flex box setup*/
   .box{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
   }
   .Qualifications{
    background-color: rgba(0, 0, 0, 0.505);
    backdrop-filter: 50px;
    border: 10px;
    padding: 1%;
    border-radius: 10%;
    border-color: yellowgreen;
    text-align: center;
   }
   .Experience{
    background-color: rgba(0, 0, 0, 0.505);
    backdrop-filter: 50px;
    border: 10px;
    padding: 1%;
    border-radius: 10%;
    border-color: yellowgreen;
    text-align: center;
   }
   .Skills{
    background-color: rgba(0, 0, 0, 0.505);
    backdrop-filter: 50px;
    border: 10px;
    padding: 1%;
    border-radius: 10%;
    border-color: yellowgreen;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    }
    #skills-logo{
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.505);
        backdrop-filter: 50px;
        font-weight: bold;
        border-style: solid;
        text-align: center;
        border-radius: 20%;
    }
   
   .Skills-1{
    border-style: solid;
    background-color: black;
    border-radius: 20%;
   }
   .Skills-2{
    border-style: solid;
    background-color: black;
    border-radius: 20%;
   }
   .Skills-3{
    border-style: solid;
    background-color: black;
    border-radius: 20%;

   }
   .Skills-4{
    border-style: solid;
    background-color: black;
    border-radius: 20%;
   }
   .footer{
    background-color: rgba(0, 0, 0, 0.505);
    backdrop-filter: 50px;
    border: 10px;
    padding: 1%;
    border-radius: 10%;
    border-color: yellowgreen;
   }
   .Reply{
    text-align: right;
   }
    
   
    /*mouse over image- links*/
    .h2, h3:hover{
        font-size: x-large;
    }
    /*screen responsivity*/
    @media screen and(max-width: 786px){
        .box{
            display:content;
        }
        .Skills{
            display: contents;
        }
    }
    
    
    
